<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Prapokklao</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/icon.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/darkmode.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/Prapokklao.styles.css" asp-append-version="true" />
</head>
<body>
	<div>
		<header style="min-height: 37px; background-color:#00695C ; position: relative; z-index: 2">
			<div class="container-fluid">
				<div style="margin-top: 5px; float: right; margin-inline-end:2em">
						<ul class="contact">
							<li>
								<a href="https://www.facebook.com" target="_blank">
									<i class="bi bi-messenger" style="color: white;"></i>
								</a>
							</li>
						</ul>
						<ul class="contact">
							<li>
								<a href="https://www.facebook.com" target="_blank">
									<i class="bi bi-facebook" style="color: white;"></i>
								</a>
							</li>
						</ul>
						<ul class="contact">
							<li>
								<a href="https://www.linkedin.com" target="_blank">
									<i class="bi bi-linkedin" style="color: white;"></i>
								</a>
							</li>
						</ul>
						<ul class="contact">
							<li>
								<a href="https://www.x.com" target="_blank">
									<i class="bi bi-twitter-x" style="color: white;"></i>
								</a>
							</li>
						</ul>
						<ul class="contact">
							<li>
								<a href="https://www.line.me/th/" target="_blank">
									<i class="bi bi-line" style="color: white;"></i>
								</a>
							</li>
						</ul>
				</div>
			</div>
		</header>
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style=" background-color: white; padding-bottom:0rem; ">
				<div class="container">
					<a class="navbar-brand" style=";" asp-area="" asp-controller="Home" asp-action="Index">
						<img src="~/image/plapokklao.png" style="width:265px;height:70px;" />
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="text-blacks" asp-area="" asp-controller="Home" asp-action="Index">หน้าแรก</a>
							</li>
							<li class="nav-item">
								<div class="text-blacks">
									<button class="dropbtn">
										เกี่ยวกับสถาบัน
										<i class="fa fa-angle-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="text-blacks">
									<button class="dropbtn">
										คลังความรู้
										<i class="fa fa-angle-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="text-blacks">
									<button class="dropbtn">
										ข่าวสาร
										<i class="fa fa-angle-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="text-blacks">
									<button class="dropbtn">
										หลักสูตร
										<i class="fa fa-angle-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div
							</li>
							<li class="nav-item">
								<div class="text-blacks">
									<button class="dropbtn">
										ติดต่อเรา
										<i class="fa fa-angle-down"></i>
									</button>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="search-box">
						<button class="btn-search"><i class="fa fa-search fa-flip-horizontal"></i></button>
						<input type="text" class="input-search" placeholder="ค้นหา...">
					</div>
					<div class="font-box">
						<span class="fss" onclick="currentSelect(1)">
							<h4 style="padding:0; margin:0;">ก</h4>
						</span>
						<span class="fss" onclick="currentSelect(2)">
							<h5 style ="padding:3px; margin:0;">ก</h5>
						</span>
						<span class="fss" onclick="currentSelect(3)">
							<h6 style="padding:5px; margin:0;">ก</h6>
						</span>
					</div>
					<div class="lang-box">
						<span class="lang-change " onclick="currentLang(1)">
							<h5 style="padding:6px; margin:0;">TH</h5>
						</span>
						|
						<span class="lang-change " onclick="currentLang(2)">
							<h5 style="padding:6px; margin:0;">EN</h5>
						</span>
					</div>
				</div>
			</nav>
		</header>
		
	</div>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	@* <footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - Prapokklao - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer> *@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/slidershow.js" asp-append-version="true"></script>
	<script src="~/js/news.js" asp-append-version="true"></script>
	<script src="~/js/fontNlanguage.js" asp-append-version="true"></script>
	<script src="~/js/top.js" asp-append-version="true"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/jquery.hislide.js" ></script>
		<script>
			$('.slide').hiSlide();
		</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
