@{
    ViewData["Title"] = "Home Page";
}



<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fades">
        <img src="~/image/slide1.jpg" style="width:100%; height: 443.89px;" />
    </div>

    <div class="mySlides fades">
        <img src="~/image/cropped-paradise-valley-1400x400.jpg" style="width:100%; height: 443.89px;" />
    </div>

    <div class="mySlides fades">
        <img src="~/image/cropped-paradise-valley-1400x400.jpg" style="width:100%; height: 443.89px;" />
    </div>

    <div style="text-align:center; position: relative; bottom:50px;">
        <span class="dot" onclick="currentSelect(1)"></span>
        <span class="dot" onclick="currentSelect(2)"></span>
        <span class="dot" onclick="currentSelect(3)"></span>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" style="text-decoration:none" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" style="text-decoration:none" onclick="plusSlides(1)">&#10095;</a>
</div>
<header style="background-color:#EDEDED; position: relative; z-index: 2; padding-top:50px; padding-bottom:120px">
    <div class="container" style="padding-inline-start:5em; padding-inline-end:5em;">
        <div
            style="background-color:#fff; margin: 0 auto; max-width: 100%; max-height: 50%; vertical-align: middle; border-radius:15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <div class="row">
                <div class="col" style="position: relative; bottom:50px;">
                    <div class="GcIcon">
                        <button class="Btn">
                            <li class="circleIcon">
                                <i class="svgIcon fa fa-search"></i>
                            </li>
                        </button>
                    </div><br />
                    <div style="text-align: center;">งานวิจัยและหนังสือ</div>
                </div>
                <div class="col" style="position: relative; bottom:50px;">
                    <div class="GcIcon">
                        <button class="Btn">
                            <li class="circleIcon">
                                <i class="svgIcon fa fa-graduation-cap"></i>
                            </li>
                        </button>
                    </div><br />
                    <div style="text-align: center;">จัดการศึกษาอบรม</div>
                </div>
                <div class="col" style="position: relative; bottom:50px;">
                    <div class="GcIcon">
                        <button class="Btn">
                            <li class="circleIcon">
                                <i class="svgIcon fa fa-bank"></i>
                            </li>
                        </button>
                    </div><br />
                    <div style="text-align: center;">พิพิธภัณฑ์พระบาทสมเด็จ<br /> พระปกเกล้าเจ้าอยู่หัว</div>
                </div>
                <div class="col" style="position: relative; bottom:50px;">
                    <div class="GcIcon">
                        <button class="Btn">
                            <li class="circleIcon">
                                <i class="svgIcon fa fa-book"></i>
                            </li>
                        </button>
                    </div><br />
                    <div style="text-align: center;">ห้องสมุด<br /> สถาบันพระปกเกล้า</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" style="margin-block-end:100px;">
    <div class="row">
        <div class="col" style="padding-inline-start:5em; padding-inline-end:5em;">
            <img src="~/image/344d87b4092eb608ff40116291bb10d2.jpg"
                style="width:200px; height:320px; object-fit: cover; border-radius:5px; margin: 0 auto; position:relative; bottom:40px; z-index: 3; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" />
            <img src="~/image/1e6d2c6f68bb1a5f2ba799e66de56502.jpg"
                style="width:200px; height:320px; object-fit: cover; border-radius:5px; margin: 0 30px; position:relative; top:50px; z-index: 3; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" />
        </div>
        <div class="col" style="padding-top: 150px;">
            <h1 style="color:#00695C;">สถาบันพระปกเกล้า</h1><br />
            <p style="font-size:20px">
                สถาบันวิชาการชั้นนำด้านการพัฒนาประชาธิปไตย<br /> อันมีพระมหากษัตริย์ทรงเป็นประมุข ธรรมาภิบาล
                และสันติวิธี<br />
                มุ่งนำความรู้สู่สังคม เพื่อประโยชน์ส่วนรวม
            </p>
        </div>
    </div>
</div>
<div style="max-width:100%; height:350px;">
    <img src="~/image/background101.jpg"
        style="mask-image: linear-gradient(to left, white, transparent); position: absolute; width: 100%; height: 350px; object-fit: cover;" />
    <div class="container"
        style="padding-inline-start:5em; padding-inline-end:5em; padding-block-start:5em; padding-block-end:5em; position:relative; z-index: 2;">
        <h1 style="color:#00695C; ">นโยบายคุ้มครองข้อมูลส่วนบุคคล<br /> (Privacy Policy)</h1>
        <p style="font-size:20px; ">
            นโยบายคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)<br /> และแนวปฏิบัติของสถาบันพระปกเกล้า
        </p>
        <button type="button" class="btndp shadows">
            ดูเพิ่มเติม
        </button>
    </div>
</div>
<div style="max-width:100%; height:auto">
    <div style="background-color:#00695C; width:100%; height:230px; padding:30px 0; z-index:1; position:relative;">
        <div class="container" style="text-align:center; color:#fff; padding:0 80px; height:60%">
            <h1 style="text-shadow: 1px 2px 12px #000;">ข่าวประชาสัมพันธ์</h1>
            <p style="font-size:18px;">สามารถติดตามข่าวสารและกิจกรรมต่างๆ ของสถาบันพระปกเกล้าได้ที่นี่</p>
            <div class="nav " style="height:99%">
                <div class="acm" role="button" onclick="currentPages(1)">
                    <div class="GcIcon" style="padding-left:10px;">
                        <button class="cacm">
                            <li style="font-size: 24px; list-style-type:none;">
                                <i class="cacmIcon fa fa-bullhorn"></i>
                            </li>
                        </button>
                    </div>
                    <div class="msb">
                        <div class="talk-bubble triangle left">
                            <div class="talktext">
                                <p class="talktextinside">ข่าวประชาสัมพันธ์</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acm" role="button" onclick="currentPages(2)">
                    <div class="GcIcon" style="padding-left:10px;">
                        <button class="cacm">
                            <li style="font-size: 24px; list-style-type:none;">
                                <i class="cacmIcon fa fa-tag fa-flip-horizontal"></i>
                            </li>
                        </button>
                    </div>
                    <div class="msb">
                        <div class="talk-bubble triangle left">
                            <div class="talktext">
                                <p class="talktextinside">ข่าวจัดซื้อจัดจ้าง</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acm" role="button" onclick="currentPages(3)">
                    <div class="GcIcon" style="padding-left:10px;">
                        <button class="cacm">
                            <li style="font-size: 24px; list-style-type:none;">
                                <i class="cacmIcon bi bi-postcard"></i>
                            </li>
                        </button>
                    </div>
                    <div class="msb">
                        <div class="talk-bubble triangle left">
                            <div class="talktext">
                                <p class="talktextinside">สมัครเรียนและประกาศรายชื่อ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acm" role="button" onclick="currentPages(4)">
                    <div class="GcIcon" style="padding-left:10px;">
                        <button class="cacm">
                            <li style="font-size: 24px; list-style-type:none;">
                                <i class="cacmIcon bi bi-calendar3"></i>
                            </li>
                        </button>
                    </div>
                    <div class="msb">
                        <div class="talk-bubble triangle left">
                            <div class="talktext">
                                <p class="talktextinside">ปฏิทินกิจกรรมสถาบัน</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#fff; width:100%; height:600px; z-index:2; position:relative;">
        <div class="container news">
            <div style="width:40%; height:100%;">
                <div
                    style="width: 82px; height: 37px; border-radius:15px; background-color:#FF9800; text-align: center; padding:6px; color:#fff;">
                    ใหม่
                </div>
                <br />
                <h1 style="color:#00695C; margin:0;">เปิดรับสมัคร!<br /> หลักสูตรประกาศนียบัตร </h1>
                <br />
                <p style="font-size:20px;">
                    เปิดรับสมัครผู้สนใจเข้าศึกษาอบรม<br /> หลักสูตรประกาศนียบัตร<br /> การจัดการความขัดแย้งด้วยสันติวิธี
                    รุ่นที่ 6<br /> เปิดรับสมัครตั้งแต่บัดนี้ – วันที่ 20 กุมภาพันธ์ 2567<br /> (ผ่านระบบออนไลน์)
                </p>
                <div
                    style="display: flex; justify-content: start; align-items: start; font-size: 30px; margin-bottom:16px;">

                    <i class="bi bi-clock" style=""></i>
                    <p style="padding:8px 15px; font-size:16px; margin:0; ">จำนวนชั่วโมงเรียน : 198 ชั่วโมง</p>
                </div>
                <button type="button" class="btndp">
                    ดูเพิ่มเติม
                </button>
            </div>
            <div style="width:60%; height:100%;">
                <div class="new-text-box">ข่าวประชาสัมพันธ์</div>
                <img src="~/image/4c0524dfb3551f0c9c72ed418e201df1.jpg"
                    style="max-width:100%; height:100%; border-radius:10px;" />
            </div>
        </div>
        <div class="container news">
            <div style="width:40%; height:100%;">
                <div
                    style="width: 82px; height: 37px; border-radius:15px; background-color:#FF9800; text-align: center; padding:6px; color:#fff;">
                    TEST
                </div>
                <br />
                <h1 style="color:#00695C; margin:0;">Header<br /> Element </h1>
                <br />
                <p style="font-size:20px;">
                    Paragraph<br /> Element<br /> ......................<br /> .................................<br />
                    ............
                </p>
                <div
                    style="display: flex; justify-content: start; align-items: start; font-size: 30px; margin-bottom:16px;">

                    <i class="bi bi-clock" style=""></i>
                    <p style="padding:8px 15px; font-size:16px; margin:0; ">.................</p>
                </div>
                <button type="button" class="btndp">
                    ดูเพิ่มเติม
                </button>
            </div>
            <div style="width:60%; height:100%;">
                <div class="new-text-box">ข่าวจัดซื้อจัดจ้าง</div>
                <img src="~/image/4c0524dfb3551f0c9c72ed418e201df1.jpg"
                    style="max-width:100%; height:100%; border-radius:10px;" />
            </div>
        </div>
        <div class="container news">
            <div style="width:40%; height:100%;">
                <div
                    style="width: 82px; height: 37px; border-radius:15px; background-color:#FF9800; text-align: center; padding:6px; color:#fff;">
                    TEST2
                </div>
                <br />
                <h1 style="color:#00695C; margin:0;">Header2<br /> Element </h1>
                <br />
                <p style="font-size:20px;">
                    Paragraph2<br /> Element<br /> ......................<br /> .................................<br />
                    ............
                </p>
                <div
                    style="display: flex; justify-content: start; align-items: start; font-size: 30px; margin-bottom:16px;">

                    <i class="bi bi-clock" style=""></i>
                    <p style="padding:8px 15px; font-size:16px; margin:0; ">.................</p>
                </div>
                <button type="button" class="btndp">
                    ดูเพิ่มเติม
                </button>
            </div>
            <div style="width:60%; height:100%;">
                <div class="new-text-box">สมัครเรียน</div>
                <img src="~/image/4c0524dfb3551f0c9c72ed418e201df1.jpg"
                    style="max-width:100%; height:100%; border-radius:10px;" />
            </div>
        </div>
        <div class="container news">
            <div style="width:40%; height:100%;">
                <div
                    style="width: 82px; height: 37px; border-radius:15px; background-color:#FF9800; text-align: center; padding:6px; color:#fff;">
                    TEST3
                </div>
                <br />
                <h1 style="color:#00695C; margin:0;">Header3<br /> Element </h1>
                <br />
                <p style="font-size:20px;">
                    Paragraph3<br /> Element<br /> ......................<br /> .................................<br />
                    ............
                </p>
                <div
                    style="display: flex; justify-content: start; align-items: start; font-size: 30px; margin-bottom:16px;">

                    <i class="bi bi-clock" style=""></i>
                    <p style="padding:8px 15px; font-size:16px; margin:0; ">.................</p>
                </div>
                <button type="button" class="btndp">
                    ดูเพิ่มเติม
                </button>
            </div>
            <div style="width:60%; height:100%;">
                <div class="new-text-box">ปฏิทินกิจกรรมสถาบัน</div>
                <img src="~/image/4c0524dfb3551f0c9c72ed418e201df1.jpg"
                    style="max-width:100%; height:100%; border-radius:10px;" />
            </div>
        </div>
    </div>
</div>
<div style="width:100%; height:900px;">
    <div
        style="max-width:100%; height:165px; background-color:#00695C; padding: 50px; text-align:center; position:relative; z-index:-99;">
        <h1 style="color: #fff;">กิจกรรม</h1>
    </div>
    <div id="Carousel-slider">
        <section>
            <div class="Carousel-slider">
                <!-- Background Images div -->
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนมกราคม</p>
                    <div class="content-box">
                        <img src="~/image/contentImg1.jpg" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:2px;"><br/></p>
                            <p style="font-size: 20px; margin-left:5px;">สถาบันพระปกเกล้ารับการตรวจประเมินคุณภาพ<br />ISO 9001 : 2015 ประจำปี 2567</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">31 มกราคม 2567</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-box">
                        <img src="~/image/contentImg2.jpg" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:5px;">วิทยาลัยพัฒนาการปกครองท้องถิ่น สถาบันพระปกเกล้า</p>
                            <p style="font-size: 20px; margin-left:5px;">หลักสูตรปกม. 12 ศึกษาดูงานภาคอีสาน<br/> ณ จังหวัดขอนแก่น-กาฬสินธุ์-ร้อยเอ็ด</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">8 กุมภาพันธ์ 2567</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btndp">
                        ดูเพิ่มเติม
                    </button>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนกุมพาพันธ์</p>
                    <div class="content-box">
                        <img src="~/image/contentImg5.png" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:2px;">เวทีวิชาการเพื่อเสริมสร้างความเข้มแข็ง<br/> ของสถาบันนิติบัญญัติ ครั้งที่ 2</p>
                            <p style="font-size: 20px; margin-left:5px;">เรื่อง “มุมมองกฎหมายเด็กและเยาวชน<br/> จากสยามพารากอนถึงป้าบัวผันสู่การแก้ไขหรือแก้แค้น”</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">9 กุมภาพันธ์ 2567</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-box">
                        <img src="~/image/contentImg6.png" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:5px;">สถาบันพระปกเกล้า เปิดการอบรมหลักสูตรประธานสภาเทศบาลยุคใหม่<br/> ในบริบทการพัฒนาเมืองอย่างสร้างสรรค์ รุ่นที่ 2</p>
                            <p style="font-size: 20px; margin-left:5px;">เรื่อง “นักการเมือง : ความหวังและความคาดหวัง”</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">8 กุมภาพันธ์ 2567</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btndp">
                        ดูเพิ่มเติม
                    </button>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนมีนาคม</p>
                    
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนเมษายน</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนพฤษภาคม</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนมิถุนายน</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนกรกฎาคม</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนสิงหาคม</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนกันยายน</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนตุลาคม</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนพฤศจิกายน</p>
                </div>
                <div class="slider-item " data-href="#">
                    <p class="headM">เดือนธันวาคม</p>
                    <div class="content-box">
                        <img src="~/image/contentImg3.jpg" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:2px;">สำนักสันติวิธีและธรรมาภิบาล ร่วมกับเครือข่าย</p>
                            <p style="font-size: 20px; margin-left:5px;">“โครงการชุมชนสมานฉันท์จังหวัดชายแดนใต้”<br/> จังหวัดสงขลา</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">20 ธันวาคม 2566</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-box">
                        <img src="~/image/contentImg4.jpg" class="content-img" />
                        <div style="margin-left:30px; text-align: left;">
                            <p style="color: #757575; font-size: 16px; margin-top:5px;">สถาบันพระปกเกล้า โดย หน่วยจริยธรรมการวิจัยในคน<br/> ของสถาบันพระปกเกล้า</p>
                            <p style="font-size: 20px; margin-left:5px;">“หลักจริยธรรมการวิจัยในคนสำหรับงานวิจัยเชิง สังคมศาสตร์”</p>
                            <div style="display: flex; margin-top: 40px; ">
                                <i class="bi bi-calendar3"></i>
                                <p class="content-date">18 ธันวาคม 2566</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btndp">
                        ดูเพิ่มเติม
                    </button>
                </div>
                <!-- Background Images div End -->
            </div>
        </section>
    </div>
</div>
<div style="width: 100%; height: auto;">
    <div class="container">
        <h1 style="text-align: center;">
            วีดีโอ
        </h1>
    </div>
</div>



<script>

</script>